.navbar {
    display: flex;
    background-color: #000;
    padding: 20px;
    justify-content: center;
}

.navbar a {
    color: #fff;
    margin-right: 1em;
    text-decoration: none;
    transition: 1s;
}

.navbar a:hover {
    color: aqua;   
}